{% extends 'base.html.twig' %}

{% block title %}Advertisement index{% endblock %}

{% block body %}
    <h1>Advertisement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>UpdateDate</th>
                <th>IsActive</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advertisement in advertisements %}
            <tr>
                <td>{{ advertisement.id }}</td>
                <td>{{ advertisement.title }}</td>
                <td>{{ advertisement.updateDate ? advertisement.updateDate|date('Y-m-d') : '' }}</td>
                <td>{{ advertisement.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ advertisement.description }}</td>
                <td>
                    <a href="{{ path('advertisement_show', {'id': advertisement.id}) }}">show</a>
                    <a href="{{ path('advertisement_edit', {'id': advertisement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('advertisement_new') }}">Create new</a>
{% endblock %}
