{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Vos conversations</h1>

    {% for request in requests %}

            <div
                    {% if (request.messages|last).isRead == 0 %}
                    class="card border-dark"
                    {% else %}
                    class="card"
                    {%  endif %}>

            <div class="card-header">
                {{ (request.messages|last).dateOfSending|date("d/m/Y") }}

            </div>
            <div class="card-body">
                <h5 class="card-title">{{ request.advertisement.title }}</h5>
                <p class="card-text">{{ (request.messages|last).content }}</p>
                <a href="{{path ('message_show', {'id': request.id}) }}" class="btn btn-primary">Afficher la conversation</a>
            </div>
        </div>

    {%  endfor %}

    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}
