{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>{{ request.advertisement.title }}</h1>


{% for message in request.messages %}
<div class="border mb-2">
    {{ message.dateOfSending|date('d/m/Y') }}
    <br>
    {{ message.content }}
</div>

{%  endfor %}
{%  if (is_granted('ROLE_ADOPTER') and request.messages|length >1) or is_granted('ROLE_ANNOUNCER') %}
    {{ include ('message/_form.html.twig') }}

    {%  else %}
<p>Vous ne pouvez pas encore répondre à ce message</p>
    {%  endif %}
    <a href="{{ path('message_index') }}">Retour aux conversations</a>




{% endblock %}
