
<nav id="navBorder" class="navbar navbar-expand-lg navbar-light bg-light pb-0">
    <div class="container-lg d-flex justify-content-between widthContent">
        <a class="navbar-brand" href="{{ path('home') }}">
            <div class="d-flex align-items-end">
                <img id="logo" src="{{ asset('img/Logo.svg') }}" alt="">
                <div>
                    <h3 class="m-0" >Adopte un chien</h3>
                    <i>Parce que les chiens c'est pipou</i>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a href="{{ path('home') }}">
                    <li class="nav-item liNav liNavSub">
                        Accueil
                    </li>
                </a>
                {% if is_granted("ROLE_ANNOUNCER") %}
                <a href="{{ path('advertisement_announcer', {id: app.user.id}) }}">
                    <li class="nav-item liNav liNavSub">
                        Vos annonces
                    </li>
                </a>
                {% else %}
                <a href="{{ path('advertisement_index') }}">
                    <li class="nav-item liNav liNavSub">
                        Nos annonces
                    </li>
                </a>
                {% endif %}
                <a href="{{ path('faq_index') }}">
                    <li class="nav-item liNav liNavSub">
                        FAQ
                    </li>
                </a>
                {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin') }}">
                    <li class="nav-item liNav liNavSub">
                        Admin
                    </li>
                </a>
                {% endif %}
            </ul>


        {% if app.user %}
            {% if is_granted("ROLE_ADOPTER") or is_granted("ROLE_ANNOUNCER") %}
                {% set nb=0 %}
                {% if is_granted('ROLE_ADOPTER') %}
                    {% for request in app.user.requests %}
                        {%  for message in request.messages %}
                            {%  if message.isRead == 0 %}
                               {% set nb = nb+1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {%  for advertisement in app.user.advertisements %}
                        {% for request in advertisement.requests %}
                            {% for message in request.messages %}
                                {% if message.isRead == 0 %}
                                    {% set nb = nb + 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="notification">
                    <a href=" {{path('message_index' )}} "><i class="far fa-envelope profile"></i></a>
                    {% if nb != 0 %}
                        <p>{{ nb }}</p>
                    {%  endif %}
                </div>
            {% endif %}

            {% if is_granted("ROLE_ADOPTER") %}
                <a href=" {{path('adopter_edit', {id: app.user.id} )}} "><i class="far fa-user-circle profile"></i></a>
            {% endif %}
            <a href="{{ path('app_logout') }}" class="liNavDeconnexion">
                Déconnexion
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="liNavConnexion">
                Connexion
            </a>
        {% endif %}
        <div>

    </div>
</nav>