<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}
    
    {% endblock %}
    
</head>
<body>
    <div id="main">
        {% include '_header.html.twig' %}
        {# widthContent: Fait office de container avec une max-width à 1020px #}
        <div class="widthContent"> 
            {% block body %}{% endblock %}

            <script src="{{ asset('js/bootstrap/bootstrap.bundle.min.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            {% block javascripts %}

            {% endblock %}
        </div>
        {% include '_footer.html.twig' %}
    </div>
</body>
</html>
