{% extends 'base.html.twig' %}

{% block title %}Annonceur{% endblock %}

{% block body %}
    <div class="container">
    <h1>{{ announcer.name }}</h1>

        <div class="row">
            <div class="d-flex justify-content-between mt-2 mb-5">
                <div class="col-5" id="description">
                    <h3> Nous avons permis à {{ dogs }} chiens de trouver une famille !</h3>
                    <p>{{ announcer.description }}</p>
                    <div class=" my-5" style="color:darkslategrey">
                        <p><strong>Contact</strong><br>
                            {%  if announcer.phoneNumber!=null  %}
                                Téléphone : {{ announcer.phoneNumber }}<br>
                            {%  endif %}
                            {%  if announcer.email!=null %}
                            Email : {{ announcer.email }}</p>
                        {%  endif %}
                            Adresse : <a href="https://www.google.com/maps/search/?api=1&query={{ announcer.address.number }}+{{ announcer.address.street}}+{{ announcer.address.zipcode }}+{{ announcer.address.city }}">{{ announcer.address.number }} {{ announcer.address.street}}, {{ announcer.address.zipcode }} {{ announcer.address.city }}</a>
                    </div>
                </div>
                <div class="col-5" id="map" style="background-image: url('{{ map }}'); background-position: center">
                </div>
            </div>
        </div>




<div style="background-color: #FAFAFA">
    <h2>Nos autres annonces - {{ activeAds }} annonces actives</h2>

</div>

    </div>


{% endblock %}
